[Unit]
Description=FileSharingWeb .Net Application

[Service]
WorkingDirectory=/var/www/filesharing/app
ExecStart=/usr/bin/dotnet /var/www/filesharing/app/FileSharingWeb.dll
Restart=always
RestartSec=10  # Restart service after 10 seconds if dotnet service crashes
SyslogIdentifier=FileSharingWeb
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production 

[Install]
WantedBy=multi-user.target